* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #334155
    );

    overflow: hidden;
}

.container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.card {
    width: 800px;
    max-width: 95%;

    background: rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, 0.1);

    border-radius: 25px;

    padding: 40px;

    text-align: center;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.3);

    animation: fadeIn 0.8s ease;
}

h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 10px;
}

.subtitle {
    color: #cbd5e1;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.welcome-box {
    background: rgba(255,255,255,0.1);

    color: white;

    padding: 25px;

    border-radius: 15px;

    font-size: 1.3rem;

    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;

    overflow: hidden;

    border-radius: 15px;
}

th {
    background: #3b82f6;
    color: white;

    padding: 15px;
}

td {
    background: rgba(255,255,255,0.08);

    color: white;

    padding: 18px;

    font-size: 1.1rem;
}

th,
td {
    border: 1px solid rgba(255,255,255,0.1);
}

.key-box {
    animation: popup 0.4s ease;
}

@keyframes popup {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 2rem;
    }

    .card {
        padding: 20px;
    }

    td,
    th {
        padding: 10px;
        font-size: 14px;
    }
}